-Book management system:
-Java Desktop Application used for managing a library
-One window for CRUD operations on Author (firstname, lastname): allows the viewing of all the authors; adding a new author; deleting an existing author and updating an existing author
-One window for CRUD operations on Book (title, description, author): allows the viewing of all the books; adding a new book - and assigning one of the existing authors; deleting an existing book and updating an existing book
-One window for Reviews (book, score, comment): allows the viewing of all the reviews; adding a new review for one of the existing books

Analiza cerintelor:
- create author;
- VIEW - view all the authors;
- update author;
- delete author;

- create book : (adding a new book - and assigning one of the existing authors);
- VIEW - view all the books;
- update book;
- delete book;

- VIEW ALL REVIEWS
- ADD REVIEW (ADDING A new review for one of the existing books)

TASKS:
-BMS-1 create author;(DONE)
-BMS-2 VIEW - view all the authors;DONE
-BMS-3 update author; done
-BMS-4 delete author;

-BMS-5 create book : (DONE)
-BMS-6 VIEW - view all the books; homework
-BMS-7 update book; HOMEWORK
-BMS-8 delete book; HOMEWORK

-BMS-9 VIEW REVIEW FOR BOOK;
-BMS-10 ADD REVIEW (ADDING A new review for one of the existing books)

-BMS 11 CREATE BOOK WITH AUTHOR (adding a new book - and assigning one of the existing authors);DONE
-BMS 12 IMPORT BOOKS WITH AUTHORS FROM A TEXT FILE;DONE



